{% extends './layouts/base.html' %}

{% load static from staticfiles %}
{% load mathfilters %}

{% block grid %}p-page{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'home/css/page.css' %}">
{% endblock %}

{% block building %}
  <div class="m-floor m-floor-page col-md-12">
    {% include './modules/nav-ground.html' %}
    {% include './modules/window.html' %}
    <div class="timber">
      {% for section in page_sections %}
        {% with width=section.content_width offset=section.content_offset %}
          <div class="content t-text col-md-{{ width }} col-md-offset-{{ offset }} col-sm-{{ width }} col-sm-offset-{{ offset }}">
            {{ section.content|safe }}
          </div>
        {% endwith %}
      {% endfor %}
    </div>
  </div>
{% endblock %}