{% extends './layouts/base.html' %}

{% load static from staticfiles %}
{% load mathfilters %}

{% block grid %}p-page{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'home/css/page.css' %}">
{% endblock %}

{% block building %}
  <div class="m-floor m-floor-page col-md-12">
    {% include './modules/nav-ground.html' %}
    {% include './modules/window.html' %}
    <div class="timber">
      {% with width=page.content_width offset=12|sub:page.content_width|intdiv:2 sm_width=page.content_width|add:2 %}
        <div class="content t-text col-md-{{ width }} col-md-offset-{{ offset }} col-sm-{{ sm_width }} col-sm-offset-{{ offset|sub:1 }}">
          {{ page.content|safe }}
        </div>
      {% endwith %}
    </div>
  </div>
{% endblock %}