commands:
  01_install_git:
    command: "yum install -y git"
  02_install_nodejs_npm:
    command: "yum install -y nodejs npm"
  03_install_gulp:
    command: "npm install -g gulp"
  04_install_bower:
    command: "npm install -g bower"

container_commands:
  01_makemigrations_thumbnail:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations thumbnail"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_createrootuser:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createrootuser"
    leader_only: true
  04_npm:
    command: "npm install"
  05_bower:
    command: "export PATH=$PATH; bower install --allow-root"
  06_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  07_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:elasticbeanstalk:application:environment:
    DYNAMODB_REGION: us-west-2
