@mixin m-floor-photo {
  .m-floor-photo {
    .photo {
      margin-bottom: 14px;
      position: absolute;

      img {
        width: 100%;
        opacity: 0.75;
      }
      img:hover {
        transition: 200ms;
        opacity: 1.0;
      }
      .name {
        color: #5c5c5c;
        text-align: center;
        margin-top: 7px;
      }
    }
  }

  .m-view-photo-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);

    img {
      max-width: 100%;
      max-height: 100%;
      bottom: 0;
      left: 0;
      margin: auto;
      overflow: auto;
      position: fixed;
      right: 0;
      top: 0;
      padding: 20px;
    }
  }
}

@mixin m-floor-page {
  .m-floor-page {
    .timber {
      padding-bottom: 96px;
      min-height: 396px;
      background-color: #f3f3f3;
    }
  }
}