@mixin m-floor-photo {
  .m-floor-photo {
    .photo {
      margin-bottom: 14px;
      position: absolute;

      img {
        width: 100%;
        opacity: 0.75;
      }
      img:hover {
        transition: 200ms;
        opacity: 1.0;
      }
      .name {
        color: #5c5c5c;
        text-align: center;
        margin-top: 7px;
      }
    }
  }
}

@mixin m-floor-page {
  .m-floor-page {
    .timber {
      padding-bottom: 96px;
      min-height: 596px;
      background-color: #f3f3f3;
    }
  }
}