@import './vendor/normalize';
@import './vendor/bootstrap';
@import './vendor/icons';
@import './mixin/base';
@import './mixin/state';
@import './mixin/blocks';
@import './mixin/theme';
@import './mixin/variables';

body.building {
  padding: $column-space 0;
  // if don't use bootstrap container (full screen)
  // padding: $column-space $column-space / 2;
  font-family: serif;
  font-size: 17px;
  overflow-y: scroll;
  color: $gray;

  a {
    color: $gray;
    transition: 200ms;
  }
  a:hover, a:focus {
    text-decoration: none;
    color: $dark-gray;
  }

  .container {
    padding: 0 $column-space / 2;
  }
  [class^='col-'], [class*=' col-'] {
    padding-left: $column-space / 2;
    padding-right: $column-space / 2;
  }

  @include t-text;

  @include s-active;

  @include m-floor;
  @include m-nav;
  @include m-nav-ground;
  @include m-nav-top;
  @include m-window;
  @include m-ground-floor;
  @include m-top-floor;
}